/*estilos para el carrusel*/
.carousel-item img {
  max-height: 600px; 
  width: auto;
  margin: 0 auto; 
}
.carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px 20px 0 130px; 
  color: white; 
  transform: translateX(-7%); 
  z-index: 2;
  text-align: justify;
  text-transform:uppercase;
}
/*Estilo de barra de navegacion*/
#custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  background-color: #f5f0e0; 
  padding: 10px 20px; 
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search-container {
  position: relative;
  width: 25%;
  display: flex;
  align-items: center;
}
/* Estilos para el contenido del modal */
.modal-content {
  background-color: white !important; /*Se usa important para forzar el cambio de estilo en el bootstrap*/
  border-radius: 10px !important;
}

/* Estilos para el encabezado del modal */
.modal-header {
  background-color: #f0f0f0 !important;
  border-bottom: none !important;
}

/* Estilos para el cuerpo del modal */
.modal-body {
  padding: 20px !important;
}

/* Estilos para el pie del modal */
.modal-footer {
  background-color: #f0f0f0 !important;
  border-top: none !important;
}

/* Estilos para el botón cerrar del modal */
.modal-dialog {
  margin-left: auto !important;
  margin-right: 0px !important;
  width: 30vw !important; 
  height: 200vh !important;
}
.modal {
  align-items: center !important;
  justify-content: flex-end !important; 
  height: 100vh !important;
  
} 
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: auto; 
  cursor: pointer;
  order: 1;
}
.carrito-icon {
  height: 2rem; 
  margin-left: 10px; 
  cursor: pointer; 
}
.form-control {
  width: 100%; 
  text-indent: 20px;
}
.dropdown-menu.show .dropdown-item:active {
  background-color: rgb(49, 99, 49); 
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(164, 218, 164); 
  border-radius: 10px;
}
.navbar-nav  {
  margin-left: 50px; 
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(5, 109, 9, 0.25) !important; 
  border-color: #99e39c !important;
}
  
/* estilos generales */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* estilos para la sección sobre nosotros */
.sobre-nosotros {
    padding: 50px 0;
}

.foto-grupal {
  text-align: center;
}

.foto-grupal img {
  /* tamaño de la foto grupal */
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 5% auto 20px;
}

.texto h2 {
  /* estilos para el título plantafriendly */
  color: #2a492b;
  font-size: 28px;
  margin-bottom: 20px;
}
.texto p {
  /* estilos para los párrafos */
  line-height: 2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Estilos para Seccion de Tutoriales*/
.eventos {
  padding-top: 0;
  padding-bottom: 2rem;
  background-color: #f7f6f6;
  
  }
  .eventos img,
  .eventos .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
  } 
  .item-content h6 {
  font-size: 1.2em; 
  font-weight: bold; 
  margin-bottom: 10px; 
}
.item-subtitle a {
  text-decoration: none;
}
.item-content p {
  font-size: 0.9em;
  line-height: 1.5; 
  margin-bottom: 10px; 
}
.item-content {
  padding-top: 5px;
  padding-right: 10px; 
  padding-bottom: 15px; 
  padding-left: 15px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.item-footer .btn {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 0.9em; 
  border-radius: 5px; 
}
.item {
  border-radius: 5px;
  box-shadow: 2px 2px 12px black;
  text-align: center;
  transition: all 0.25s;
  margin-left: 75px;
}

.item:hover{
  transform: translateY(-15px);
  box-shadow: 0 15px 18px black;
}

.item-footer .btn:hover {
  background-color: #45a049; 
}

/* Estilos para la sección de formulario */
.formulario {
  padding: 50px 0; 
  margin-top: 50px;
   
}

.containerForm {
  
  margin: 0 auto; 
  height: auto
}

.content-head {
  text-align: center; 
  margin-bottom: 30px; 
}

.mbr-section-title {
  font-size: 36px; 
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.formcampos{
  background-color: #e5ddc3;
  padding: 20px 0 10px;
  border-radius: 20px;
  border-style:ridge;
}

.mbr-form input[type="text"],
.mbr-form input[type="email"],
.mbr-form input[type="url"],
.mbr-form textarea {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-sizing: border-box; 
  font-size: 16px; 
}

.mbr-form textarea {
  height: 100px; 
}

.mbr-section-btn {
  text-align: center; 
}

.btn-success {
  background-color: #4CAF50; 
  color: white; 
  padding: 15px 25px;
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

.btn-success:hover {
  background-color: #45a049; 
}
/* Estilos de la seccion Equipo*/
.equipo {
  text-align: center;
  margin-top: 0;
  padding: 1px 0 10px;
}

.equipo h3 {
  font-size: 40px;
}

.equipo-lista {
  list-style-type: none;
  padding: 0;
}

.equipo-lista li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.equipo-lista li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.miembro-info {
  margin-top: 10px;
}

.miembro-info h4 {
  margin: 5px 0;
  font-size: 25px;
}

.miembro-info img {
  width: 30px;
  height: 30px;
}
/* Estilos de la seccion Catalogo*/
.catalogo-container {
  padding: 20px;
}

.subtitle {
  margin-left: 20px; 
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-body {
  text-align: left;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-img-top {
  max-width: 100%;
  height: 300px;
}
.card-body button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-body button:hover {
  background-color: #45a049;
}

.list-group {
  list-style: none; 
  padding-left: 0; 
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-group-item img {
  max-width: 50px;
}

.eliminar-icon {
  color: red;
  cursor: pointer;
}
/* Estilos de la seccion de Graficas*/
#graficas {
  text-align: center; /* Centra el contenido de la sección */
}

#graficas .my-5.text-center {
  margin-bottom: 50px; /* Ajusta el margen inferior del título */
}

#graficas .col-6.border.shadow {
  margin-left: auto; 
  margin-right: auto;
  background-color: #b6e2bd;
  border-radius: 30px;
}
#graficas .mbr-section-title {
  margin-top: 40px; 
  background-color: #0808084f;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fffdfd;
  
}
#graficas .nav-link {
  color: #0f4805; /
}

/*Footer*/
footer {
  background-color: #174c21;
  color: #fff;
  padding-top: 10px;
  border-radius: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo img {
  width: 40%;
  max-width: 200px; /* Ajusta el tamaño máximo del logo según tus necesidades */
}

.contact-info, .quick-links, .social-links {
  flex: 1;
}

.contact-info h4, .quick-links h4, .redes-lista h4 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.contact-info ul, .quick-links ul, .social-links ul {
  list-style-type: none;
  padding: 0;text-align: center;
}

.contact-info ul li, .quick-links ul li {
  margin-bottom: 5px;
  
}

.quick-links ul li a{
  text-decoration: none;
  color: white;
}
.social-links ul {
  display: flex;
  justify-content: space-between;
}

.social-links ul li {
  display: inline;
}

.social-links ul li:last-child {
  margin-right: 0;
}

.social-links ul li a {
  color: #fff;
  text-decoration: none;
}

/* Sección de derechos de autor */
.copyright {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 10px 0;
}
.copyright p {
  margin: 0;
  color: #fff;
}
/* Estilos de la seccion Redes Sociales*/

.redes-sociales {
  text-align: center;
  margin: 10px auto;
}

.redes-sociales h2 {
  font-size: 24px;
}

.redes-lista {
  list-style-type: none;
  padding: 0;
}

.redes-lista li {
  display: inline-block;
  margin: 0 10px;
}

.redes-lista li img {
  width: 40px;
  height: 40px;
}
.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Distancia desde el borde inferior */
  right: 20px; /* Distancia desde el borde derecho */
  z-index: 999; /* Asegura que el icono esté por encima de otros elementos */
}

.whatsapp-icon img {
  width: 60px; /* Ajusta el tamaño del icono según sea necesario */
  height: auto;
}
