.carousel-item img {
    max-height: 600px; /* Cambia este valor según el tamaño deseado */
    width: auto;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 20px 20px 0 130px; 
    color: white; 
    transform: translateX(-50%);
    z-index: 2;
}

